@keyframes blur-out-expand-fwd {
  0% {
    transform: translateZ(0);
    filter: blur(.01);
  }
  to {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px) opacity(0%);
  }
}

.blur-out-expand-fwd {
  animation-name: blur-out-expand-fwd;
}
