@keyframes blur-out-contract {
  0% {
    filter: blur(.01);
  }
  to {
    letter-spacing: -.5em;
    filter: blur(12px) opacity(0%);
  }
}

.blur-out-contract {
  animation-name: blur-out-contract;
}
