@keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  to {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
  }
}

.text-shadow-drop-br {
  animation-name: text-shadow-drop-br;
}
