@keyframes text-shadow-drop-top {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  to {
    text-shadow: 0 -6px 18px rgba(0, 0, 0, .35);
  }
}

.text-shadow-drop-top {
  animation-name: text-shadow-drop-top;
}
