@keyframes text-shadow-drop-right {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  to {
    text-shadow: 6px 0 18px rgba(0, 0, 0, .35);
  }
}

.text-shadow-drop-right {
  animation-name: text-shadow-drop-right;
}
