@keyframes tracking-out-expand-fwd-bottom {
  0% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: .8;
  }
  to {
    letter-spacing: 1em;
    transform: translateZ(300px) translateY(200px);
    opacity: 0;
  }
}

.tracking-out-expand-fwd-bottom {
  animation-name: tracking-out-expand-fwd-bottom;
}
