@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  to {
    letter-spacing: normal;
    opacity: 1;
  }
}

.tracking-in-contract {
  animation-name: tracking-in-contract;
}
