@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  to {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tracking-in-contract-bck-top {
  animation-name: tracking-in-contract-bck-top;
}
