@keyframes bounce-out-fwd {
  0%, 15%, 38%, 70% {
    transform: translateZ(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateZ(90px);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translateZ(95px);
    animation-timing-function: ease-in;
  }
  52% {
    transform: translateZ(150px);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
  }
  to {
    transform: translateZ(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
}

.bounce-out-fwd {
  animation-name: bounce-out-fwd;
}
