@keyframes flip-out-hor-bottom {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  to {
    transform: rotateX(-70deg);
    opacity: 0;
  }
}

.flip-out-hor-bottom {
  animation-name: flip-out-hor-bottom;
}
