@keyframes flip-out-diag-2-tl {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
  to {
    transform: rotate3d(-1, 1, 0, -70deg);
    opacity: 0;
  }
}

.flip-out-diag-2-tl {
  animation-name: flip-out-diag-2-tl;
}
