@keyframes flip-out-diag-1-tr {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
  to {
    transform: rotate3d(1, 1, 0, 70deg);
    opacity: 0;
  }
}

.flip-out-diag-1-tr {
  animation-name: flip-out-diag-1-tr;
}
