@keyframes flip-out-ver-left {
  0% {
    transform: rotateY(0);
    opacity: 1;
  }
  to {
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

.flip-out-ver-left {
  animation-name: flip-out-ver-left;
}
