@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}

.puff-out-hor {
  animation-name: puff-out-hor;
}
