@keyframes roll-out-bottom {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}

.roll-out-bottom {
  animation-name: roll-out-bottom;
}
