@keyframes roll-out-blurred-top {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: translateY(-800px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}

.roll-out-blurred-top {
  animation-name: roll-out-blurred-top;
}
