@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}

.roll-out-right {
  animation-name: roll-out-right;
}
