@keyframes rotate-out-center {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  to {
    transform: rotate(-360deg);
    opacity: 0;
  }
}

.rotate-out-center {
  animation-name: rotate-out-center;
}
