@keyframes rotate-out-ver {
  0% {
    transform: rotateY(360deg);
    opacity: 1;
  }
  to {
    transform: rotateY(0deg);
    opacity: 0;
  }
}

.rotate-out-ver {
  animation-name: rotate-out-ver;
}
