@keyframes rotate-out-2-bck {
  0% {
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-180px) rotate(-45deg);
    opacity: 0;
  }
}

.rotate-out-2-bck {
  animation-name: rotate-out-2-bck;
}
