@keyframes rotate-out-left {
  0% {
    transform: rotate(0);
    transform-origin: left;
    opacity: 1;
  }
  to {
    transform: rotate(-360deg);
    transform-origin: left;
    opacity: 0;
  }
}

.rotate-out-left {
  animation-name: rotate-out-left;
}
