@keyframes scale-out-horizontal {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 1;
  }
}

.scale-out-horizontal {
  animation-name: scale-out-horizontal;
}
