@keyframes scale-out-vertical {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 1;
  }
}

.scale-out-vertical {
  animation-name: scale-out-vertical;
}
