@keyframes slide-out-fwd-top {
  0% {
    transform: translateZ(1) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateZ(600px) translateY(-300px);
    opacity: 0;
  }
}

.slide-out-fwd-top {
  animation-name: slide-out-fwd-top;
}
