@keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

.slide-out-bck-center {
  animation-name: slide-out-bck-center;
}
