@keyframes slide-out-fwd-br {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  to {
    transform: translateZ(600px) translateY(300px) translateX(400px);
    opacity: 0;
  }
}

.slide-out-fwd-br {
  animation-name: slide-out-fwd-br;
}
