@keyframes slide-out-elliptic-right-fwd {
  0% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 600px 50%;
    opacity: 1;
  }
  to {
    transform: translateX(1000px) rotateY(20deg) scale(6);
    transform-origin: -100% 50%;
    opacity: 0;
  }
}

.slide-out-elliptic-right-fwd {
  animation-name: slide-out-elliptic-right-fwd;
}
