@keyframes slide-out-bck-tr {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}

.slide-out-bck-tr {
  animation-name: slide-out-bck-tr;
}
