@keyframes slide-out-bck-bottom {
  0% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-1100px) translateY(1000px);
    opacity: 0;
  }
}

.slide-out-bck-bottom {
  animation-name: slide-out-bck-bottom;
}
