@keyframes slit-out-diagonal-1 {
  0% {
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    opacity: 1;
  }
  54% {
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    opacity: 1;
  }
  to {
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    opacity: 0;
  }
}

.slit-out-diagonal-1 {
  animation-name: slit-out-diagonal-1;
}
