@keyframes swing-out-bottom-bck {
  0% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
  to {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
}

.swing-out-bottom-bck {
  animation-name: swing-out-bottom-bck;
}
