@keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  to {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}

.swing-out-top-bck {
  animation-name: swing-out-top-bck;
}
