@keyframes swirl-out-bck {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  to {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

.swirl-out-bck {
  animation-name: swirl-out-bck;
}
