@keyframes flicker-2 {
  0%, 41.99%, 43.01%, 45.99%, 46.91%, 51.99%, 52.81%, to {
    opacity: 1;
  }
  42%, 43%, 46%, 46.9%, 52%, 52.8% {
    opacity: 0;
  }
}

.flicker-2 {
  animation-name: flicker-2;
}
