@keyframes shake-tl {
  0%, to {
    transform: rotate(0deg);
    transform-origin: 0 0;
  }
  10%, 90% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
}

.shake-tl {
  animation-name: shake-tl;
}
