@keyframes flip-2-ver-left-bck {
  0% {
    transform: translateX(0) translateZ(0) rotateY(0);
    transform-origin: 0% 50%;
  }
  to {
    transform: translateX(-100%) translateZ(-260px) rotateY(-180deg);
    transform-origin: 100% 0%;
  }
}

.flip-2-ver-left-bck {
  animation-name: flip-2-ver-left-bck;
}
