@keyframes flip-scale-2-hor-bottom {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 100%;
  }
  50% {
    transform: translateY(50%) rotateX(90deg) scale(2);
    transform-origin: 50% 50%;
  }
  to {
    transform: translateY(100%) rotateX(180deg) scale(1);
    transform-origin: 50% 0%;
  }
}

.flip-scale-2-hor-bottom {
  animation-name: flip-scale-2-hor-bottom;
}
