@keyframes flip-diagonal-2-br {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
}

.flip-diagonal-2-br {
  animation-name: flip-diagonal-2-br;
}
