@keyframes flip-vertical-bck {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  to {
    transform: translateZ(-260px) rotateY(-180deg);
  }
}

.flip-vertical-bck {
  animation-name: flip-vertical-bck;
}
