@keyframes flip-horizontal-bck {
  0% {
    transform: translateZ(0) rotateX(0);
  }
  to {
    transform: translateZ(-260px) rotateX(180deg);
  }
}

.flip-horizontal-bck {
  animation-name: flip-horizontal-bck;
}
