@keyframes flip-horizontal-fwd {
  0% {
    transform: translateZ(0) rotateX(0);
  }
  to {
    transform: translateZ(160px) rotateX(-180deg);
  }
}

.flip-horizontal-fwd {
  animation-name: flip-horizontal-fwd;
}
