@keyframes flip-diagonal-1-bl {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 0, -180deg);
  }
}

.flip-diagonal-1-bl {
  animation-name: flip-diagonal-1-bl;
}
