@keyframes flip-2-ver-right-1 {
  0% {
    transform: translateX(0) rotateY(0);
    transform-origin: 100% 50%;
  }
  to {
    transform: translateX(100%) rotateY(-180deg);
    transform-origin: 0% 50%;
  }
}

.flip-2-ver-right-1 {
  animation-name: flip-2-ver-right-1;
}
