@keyframes flip-2-hor-bottom-2 {
  0% {
    transform: translateY(0) rotateX(0);
    transform-origin: 50% 100%;
  }
  to {
    transform: translateY(100%) rotateX(-180deg);
    transform-origin: 50% 0%;
  }
}

.flip-2-hor-bottom-2 {
  animation-name: flip-2-hor-bottom-2;
}
