@keyframes rotate-90-top-ccw {
  0% {
    transform: rotate(0);
    transform-origin: top;
  }
  to {
    transform: rotate(-90deg);
    transform-origin: top;
  }
}

.rotate-90-top-ccw {
  animation-name: rotate-90-top-ccw;
}
