@keyframes rotate-tl {
  0% {
    transform: rotate(0);
    transform-origin: top left;
  }
  to {
    transform: rotate(360deg);
    transform-origin: top left;
  }
}

.rotate-tl {
  animation-name: rotate-tl;
}
