@keyframes rotate-bl {
  0% {
    transform: rotate(0);
    transform-origin: bottom left;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom left;
  }
}

.rotate-bl {
  animation-name: rotate-bl;
}
