@keyframes rotate-90-left-ccw {
  0% {
    transform: rotate(0);
    transform-origin: left;
  }
  to {
    transform: rotate(-90deg);
    transform-origin: left;
  }
}

.rotate-90-left-ccw {
  animation-name: rotate-90-left-ccw;
}
