@keyframes rotate-vert-left {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  to {
    transform: rotateY(360deg);
    transform-origin: left;
  }
}

.rotate-vert-left {
  animation-name: rotate-vert-left;
}
