@keyframes rotate-90-bl-ccw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 100%;
  }
  to {
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
}

.rotate-90-bl-ccw {
  animation-name: rotate-90-bl-ccw;
}
