@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  to {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

.rotate-diagonal-1 {
  animation-name: rotate-diagonal-1;
}
