@keyframes rotate-90-bl-cw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 100%;
  }
  to {
    transform: rotate(90deg);
    transform-origin: 0% 100%;
  }
}

.rotate-90-bl-cw {
  animation-name: rotate-90-bl-cw;
}
