@keyframes rotate-bottom {
  0% {
    transform: rotate(0);
    transform-origin: bottom;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}

.rotate-bottom {
  animation-name: rotate-bottom;
}
