@keyframes rotate-90-bottom-ccw {
  0% {
    transform: rotate(0);
    transform-origin: bottom;
  }
  to {
    transform: rotate(-90deg);
    transform-origin: bottom;
  }
}

.rotate-90-bottom-ccw {
  animation-name: rotate-90-bottom-ccw;
}
