@keyframes rotate-tr {
  0% {
    transform: rotate(0);
    transform-origin: top right;
  }
  to {
    transform: rotate(360deg);
    transform-origin: top right;
  }
}

.rotate-tr {
  animation-name: rotate-tr;
}
