@keyframes rotate-diagonal-tl {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
    transform-origin: 0% 0%;
  }
  50% {
    transform: rotate3d(-1, 1, 0, 180deg);
    transform-origin: 0% 0%;
  }
  to {
    transform: rotate3d(-1, 1, 0, 360deg);
    transform-origin: 0% 0%;
  }
}

.rotate-diagonal-tl {
  animation-name: rotate-diagonal-tl;
}
