@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  to {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

.rotate-scale-up-diag-1 {
  animation-name: rotate-scale-up-diag-1;
}
