@keyframes rotate-right {
  0% {
    transform: rotate(0);
    transform-origin: right;
  }
  to {
    transform: rotate(360deg);
    transform-origin: right;
  }
}

.rotate-right {
  animation-name: rotate-right;
}
