@keyframes rotate-90-tr-cw {
  0% {
    transform: rotate(0);
    transform-origin: top right;
  }
  to {
    transform: rotate(90deg);
    transform-origin: top right;
  }
}

.rotate-90-tr-cw {
  animation-name: rotate-90-tr-cw;
}
