@keyframes rotate-vert-right {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  to {
    transform: rotateY(-360deg);
    transform-origin: right;
  }
}

.rotate-vert-right {
  animation-name: rotate-vert-right;
}
