@keyframes rotate-90-top-cw {
  0% {
    transform: rotate(0);
    transform-origin: top;
  }
  to {
    transform: rotate(90deg);
    transform-origin: top;
  }
}

.rotate-90-top-cw {
  animation-name: rotate-90-top-cw;
}
