@keyframes rotate-90-left-cw {
  0% {
    transform: rotate(0);
    transform-origin: left;
  }
  to {
    transform: rotate(90deg);
    transform-origin: left;
  }
}

.rotate-90-left-cw {
  animation-name: rotate-90-left-cw;
}
