@keyframes rotate-90-right-ccw {
  0% {
    transform: rotate(0);
    transform-origin: right;
  }
  to {
    transform: rotate(-90deg);
    transform-origin: right;
  }
}

.rotate-90-right-ccw {
  animation-name: rotate-90-right-ccw;
}
