@keyframes rotate-diagonal-br {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
    transform-origin: 100% 100%;
  }
  50% {
    transform: rotate3d(-1, 1, 0, -180deg);
    transform-origin: 100% 100%;
  }
  to {
    transform: rotate3d(-1, 1, 0, -360deg);
    transform-origin: 100% 100%;
  }
}

.rotate-diagonal-br {
  animation-name: rotate-diagonal-br;
}
