@keyframes scale-down-hor-left {
  0% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
  to {
    transform: scaleX(.3);
    transform-origin: 0% 0%;
  }
}

.scale-down-hor-left {
  animation-name: scale-down-hor-left;
}
