@keyframes scale-down-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  to {
    transform: scaleY(.3);
    transform-origin: 0% 100%;
  }
}

.scale-down-ver-bottom {
  animation-name: scale-down-ver-bottom;
}
