@keyframes shadow-drop-lr {
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }
  to {
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, .35), 12px 0 20px -12px rgba(0, 0, 0, .35);
  }
}

.shadow-drop-lr {
  animation-name: shadow-drop-lr;
}
