@keyframes shadow-inset-bottom {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 -6px 14px -6px rgba(0, 0, 0, .5);
  }
}

.shadow-inset-bottom {
  animation-name: shadow-inset-bottom;
}
