@keyframes shadow-drop-right {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 12px 0 20px -12px rgba(0, 0, 0, .35);
  }
}

.shadow-drop-right {
  animation-name: shadow-drop-right;
}
