@keyframes shadow-drop-top {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, .35);
  }
}

.shadow-drop-top {
  animation-name: shadow-drop-top;
}
