@keyframes shadow-inset-lr {
  0% {
    box-shadow: inset 0 0 0 0 transparent, inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, .5), inset 6px 0 14px -6px rgba(0, 0, 0, .5);
  }
}

.shadow-inset-lr {
  animation-name: shadow-inset-lr;
}
