@keyframes shadow-drop-2-top {
  0% {
    transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    transform: translateZ(50px) translateY(12px);
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, .35);
  }
}

.shadow-drop-2-top {
  animation-name: shadow-drop-2-top;
}
