@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35);
  }
}

.shadow-drop-center {
  animation-name: shadow-drop-center;
}
