@keyframes slide-fwd-bottom {
  0% {
    transform: translateZ(0) translateY(0);
  }
  to {
    transform: translateZ(160px) translateY(100px);
  }
}

.slide-fwd-bottom {
  animation-name: slide-fwd-bottom;
}
