@keyframes slide-rotate-hor-bottom {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  to {
    transform: translateY(150px) rotateX(90deg);
  }
}

.slide-rotate-hor-bottom {
  animation-name: slide-rotate-hor-bottom;
}
