@keyframes slide-bck-top {
  0% {
    transform: translateZ(0) translateY(0);
  }
  to {
    transform: translateZ(-400px) translateY(-200px);
  }
}

.slide-bck-top {
  animation-name: slide-bck-top;
}
