@keyframes slide-fwd-top {
  0% {
    transform: translateZ(0) translateY(0);
  }
  to {
    transform: translateZ(160px) translateY(-100px);
  }
}

.slide-fwd-top {
  animation-name: slide-fwd-top;
}
