@keyframes slide-rotate-hor-t-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
    transform-origin: bottom center;
  }
}

.slide-rotate-hor-t-fwd {
  animation-name: slide-rotate-hor-t-fwd;
}
