@keyframes slide-rotate-hor-b-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0deg);
    transform-origin: top center;
  }
  to {
    transform: translateY(150px) translateZ(130px) rotateX(90deg);
    transform-origin: top center;
  }
}

.slide-rotate-hor-b-fwd {
  animation-name: slide-rotate-hor-b-fwd;
}
