@keyframes slide-fwd-bl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  to {
    transform: translateZ(160px) translateY(100px) translateX(-100px);
  }
}

.slide-fwd-bl {
  animation-name: slide-fwd-bl;
}
