@keyframes slide-rotate-ver-left {
  0% {
    transform: translateX(0) rotateY(0);
  }
  to {
    transform: translateX(-150px) rotateY(90deg);
  }
}

.slide-rotate-ver-left {
  animation-name: slide-rotate-ver-left;
}
