@keyframes slide-rotate-ver-r-fwd {
  0% {
    transform: translateX(0) translateZ(0) rotateY(0);
    transform-origin: center left;
  }
  to {
    transform: translateX(150px) translateZ(130px) rotateY(-90deg);
    transform-origin: center left;
  }
}

.slide-rotate-ver-r-fwd {
  animation-name: slide-rotate-ver-r-fwd;
}
