@keyframes slide-rotate-hor-top {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  to {
    transform: translateY(-150px) rotateX(-90deg);
  }
}

.slide-rotate-hor-top {
  animation-name: slide-rotate-hor-top;
}
