@keyframes slide-bck-right {
  0% {
    transform: translateZ(0) translateX(0);
  }
  to {
    transform: translateZ(-400px) translateX(200px);
  }
}

.slide-bck-right {
  animation-name: slide-bck-right;
}
