@keyframes slide-fwd-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  to {
    transform: translateZ(160px) translateX(-100px);
  }
}

.slide-fwd-left {
  animation-name: slide-fwd-left;
}
