@keyframes slide-rotate-hor-b-bck {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: translateY(150px) translateZ(-230px) rotateX(90deg);
    transform-origin: bottom center;
  }
}

.slide-rotate-hor-b-bck {
  animation-name: slide-rotate-hor-b-bck;
}
