@keyframes slide-bck-bl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  to {
    transform: translateZ(-400px) translateY(200px) translateX(-200px);
  }
}

.slide-bck-bl {
  animation-name: slide-bck-bl;
}
