@keyframes slide-bck-bottom {
  0% {
    transform: translateZ(0) translateY(0);
  }
  to {
    transform: translateZ(-400px) translateY(200px);
  }
}

.slide-bck-bottom {
  animation-name: slide-bck-bottom;
}
