@keyframes swing-top-right-fwd {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
    transform-origin: 100% 0%;
  }
  to {
    transform: rotate3d(1, 1, 0, 180deg);
    transform-origin: 100% 0%;
  }
}

.swing-top-right-fwd {
  animation-name: swing-top-right-fwd;
}
