@keyframes swing-right-fwd {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  to {
    transform: rotateY(180deg);
    transform-origin: right;
  }
}

.swing-right-fwd {
  animation-name: swing-right-fwd;
}
