@keyframes swing-bottom-bck {
  0% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
  to {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
}

.swing-bottom-bck {
  animation-name: swing-bottom-bck;
}
