@keyframes swing-top-bck {
  0% {
    transform: rotateX(0);
    transform-origin: top;
  }
  to {
    transform: rotateX(-180deg);
    transform-origin: top;
  }
}

.swing-top-bck {
  animation-name: swing-top-bck;
}
