@keyframes swing-top-fwd {
  0% {
    transform: rotateX(0);
    transform-origin: top;
  }
  to {
    transform: rotateX(180deg);
    transform-origin: top;
  }
}

.swing-top-fwd {
  animation-name: swing-top-fwd;
}
