@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  to {
    background: #3bd80d;
  }
}

.color-change-5-x {
  animation-direction: alternate;
  animation-name: color-change-5x;
}
