@keyframes kenburns-top-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }
  to {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
  }
}

.kenburns-top-left {
  animation-name: kenburns-top-left;
}
