@keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  to {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}

.kenburns-bottom-right {
  animation-name: kenburns-bottom-right;
}
