@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(.7);
    animation-timing-function: ease-in;
  }
  72%, 89%, to {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(.84);
    animation-timing-function: ease-in;
  }
  95% {
    transform: scale(.95);
    animation-timing-function: ease-in;
  }
}

.bounce-in-fwd {
  animation-name: bounce-in-fwd;
}
