@keyframes flip-in-diag-2-tl {
  0% {
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0;
  }
  to {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

.flip-in-diag-2-tl {
  animation-name: flip-in-diag-2-tl;
}
