@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0);
    opacity: 1;
  }
}

.flip-in-hor-bottom {
  animation-name: flip-in-hor-bottom;
}
