@keyframes puff-in-tl {
  0% {
    transform: scale(2);
    transform-origin: 0% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: 0% 0%;
    filter: blur(0);
    opacity: 1;
  }
}

.puff-in-tl {
  animation-name: puff-in-tl;
}
