@keyframes roll-in-blurred-bottom {
  0% {
    transform: translateY(800px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.roll-in-blurred-bottom {
  animation-name: roll-in-blurred-bottom;
}
