@keyframes roll-in-top {
  0% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.roll-in-top {
  animation-name: roll-in-top;
}
