@keyframes rotate-in-br {
  0% {
    transform: rotate(-360deg);
    transform-origin: bottom right;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    transform-origin: bottom right;
    opacity: 1;
  }
}

.rotate-in-br {
  animation-name: rotate-in-br;
}
