@keyframes rotate-in-2-fwd-ccw {
  0% {
    transform: translateZ(-200px) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.rotate-in-2-fwd-ccw {
  animation-name: rotate-in-2-fwd-ccw;
}
