@keyframes rotate-in-2-tr-ccw {
  0% {
    transform: rotate(45deg);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  to {
    transform: rotate(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.rotate-in-2-tr-ccw {
  animation-name: rotate-in-2-tr-ccw;
}
