@keyframes rotate-in-bl {
  0% {
    transform: rotate(-360deg);
    transform-origin: bottom left;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    transform-origin: bottom left;
    opacity: 1;
  }
}

.rotate-in-bl {
  animation-name: rotate-in-bl;
}
