@keyframes rotate-in-tr {
  0% {
    transform: rotate(-360deg);
    transform-origin: top right;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    transform-origin: top right;
    opacity: 1;
  }
}

.rotate-in-tr {
  animation-name: rotate-in-tr;
}
