@keyframes rotate-in-right {
  0% {
    transform: rotate(-360deg);
    transform-origin: right;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    transform-origin: right;
    opacity: 1;
  }
}

.rotate-in-right {
  animation-name: rotate-in-right;
}
