@keyframes rotate-in-diag-1 {
  0% {
    transform: rotate3d(1, 1, 0, -360deg);
    opacity: 0;
  }
  to {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

.rotate-in-diag-1 {
  animation-name: rotate-in-diag-1;
}
