@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  to {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-in-ver-top {
  animation-name: scale-in-ver-top;
}
