@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.scale-in-hor-center {
  animation-name: scale-in-hor-center;
}
