@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.scale-in-ver-center {
  animation-name: scale-in-ver-center;
}
