@keyframes slide-in-fwd-tr {
  0% {
    transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-tr {
  animation-name: slide-in-fwd-tr;
}
