@keyframes slide-in-fwd-right {
  0% {
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-right {
  animation-name: slide-in-fwd-right;
}
