@keyframes slide-in-elliptic-top-bck {
  0% {
    transform: translateY(-600px) rotateX(30deg) scale(6.5);
    transform-origin: 50% 200%;
    opacity: 0;
  }
  to {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -500px;
    opacity: 1;
  }
}

.slide-in-elliptic-top-bck {
  animation-name: slide-in-elliptic-top-bck;
}
