@keyframes swing-in-top-bck {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-bck {
  animation-name: swing-in-top-bck;
}
