@keyframes swing-in-right-fwd {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}

.swing-in-right-fwd {
  animation-name: swing-in-right-fwd;
}
