@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  to {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

.swing-in-bottom-fwd {
  animation-name: swing-in-bottom-fwd;
}
