@keyframes swing-in-left-bck {
  0% {
    transform: rotateY(-70deg);
    transform-origin: left;
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}

.swing-in-left-bck {
  animation-name: swing-in-left-bck;
}
