@keyframes swirl-in-bck {
  0% {
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  to {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.swirl-in-bck {
  animation-name: swirl-in-bck;
}
