@keyframes swirl-in-right-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    transform-origin: 100% 50%;
    opacity: 0;
  }
  to {
    transform: rotate(0) scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

.swirl-in-right-fwd {
  animation-name: swirl-in-right-fwd;
}
