@keyframes swirl-in-bl-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    transform-origin: 0 100%;
    opacity: 0;
  }
  to {
    transform: rotate(0) scale(1);
    transform-origin: 0 100%;
    opacity: 1;
  }
}

.swirl-in-bl-fwd {
  animation-name: swirl-in-bl-fwd;
}
