@keyframes swirl-in-right-bck {
  0% {
    transform: rotate(540deg) scale(5);
    transform-origin: 100% 50%;
    opacity: 0;
  }
  to {
    transform: rotate(0) scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

.swirl-in-right-bck {
  animation-name: swirl-in-right-bck;
}
