@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.tilt-in-left-1 {
  animation-name: tilt-in-left-1;
}
